//共通部分

html {
  // font-size: 0.78vw;
  font-size: 62.5%; //10px;
  // @include max-screen($break_sp) {
  //     font-size: 1vw;
  // }
}

body {
  width: 100%;
  // background-color: $accent_color;
  @include txt_font();
}

li {
  list-style: none;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  background-color: #202037;
  color: #FFFFFF;
  border-radius: 50px; // width: 298px;
  padding: 25px 105px;
  font-size: 16px;
  line-height: 1;

  &-wrapper {
    text-align: center;
    margin: 42.4px auto;
  }

  &-large {
    display: inline-block;
    // background-color: #202037;
      background: linear-gradient(0.25turn, #364D6A,#599DC0);
    color: #FFFFFF;
    border-radius: 50px; // width: 298px;
    padding: 32px 164px;
    font-size: 32px;
    line-height: 1;

    &-wrapper {
      text-align: center;
      margin: 23px auto ;
    }
  }
}
