.footer {
  text-align: center;
  padding-top: 158px;
  // padding-top: 12%;

  &-txt {
    margin-bottom: 23px;
  }

  &-bottom {
    height: 165px;
    background-color: #202037;
    margin-top: 101px;
    // margin-top: 8%;
  }
}
